.profile__add-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url("../../../images/profile/add-button.svg");
  border: 0;
  width: 150px;
  height: 50px;
  background-size: cover;
  margin: auto 0;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
