.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 100%;
  object-fit: cover;
  margin-right: 30px;
}

@media screen and (max-width: 650px) {
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 26px;
  }
}
